/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --background: white;
    --text: black;
    --icons: white;
}
html {
    box-sizing: border-box;
    font-family: 'Playfair Display';
    color: var(--dark);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    background: var(--background);
    line-height: 1.4;
    margin: 0px;
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}
img {
    max-width: 100%;
}
.wrapper {
    display: grid;
    place-items: center;
}
.content-inside {
    display: grid;
    margin-left: 7vw;
    margin-right: 7vw;
}
/* sticky */
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: fixed;
    top: 0;
    width: 100vw;
  }
/* Social bar */
.social-bar {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(7, 14%);
    justify-items: center;
    gap: 4px;
    z-index: 9999;
    background: #2d4249;
    margin-right: 5000px;
}
.social-bar.shrink {
    background: white;
    transition: background 0.5s;
}
.l.shrink {
    color: black;
    transition: color 0.5s;
}
.social-icons {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;   
}
.l {
    font-size: 40px;
}
  /* Add a hover effect if you want */
.fa-facebook:hover {
    color: #3b5998;
}
.fa-instagram:hover {
    color: #ba36cc;
}
.fa-soundcloud:hover {
    color: #dd7a1e;
}
.fa-envelope:hover {
    color: lightblue;
}
.fa-youtube:hover {
    color: red;
}
.fa-spotify:hover {
    color: #1DB954;
}
.fa-apple:hover {
    color: #7D7D7D;
} 
  /* Set a specific color for each brand */
.l {
    color: white;
    transition-duration: 0.25s;
}
/* Showcase */
.sfade {
    text-align: center;
    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.showcase {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    padding-top: 0;
    margin-bottom: 20px;
}
.whole {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 30vh 10vh 60vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('img/cover.jpg');
}
.whole h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
    max-height: 4em;
    color: var(--light);
    text-align: center;
    grid-row-start: 2;
    align-self: start;
}
/* Buttons */
.down-arrow::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(45eg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
/* OUT NOW */
.sizing {
    width: 100%;
}
.columncreatorb {
    padding-top: 60px;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
    pointer-events: none;
}
.out-title {
    position: relative;
    font-size: 3.5rem;
    max-height: 4em;
    font-weight: 600;
    color: var(--text);
    grid-row-start: 1;
    grid-column: 2;
    text-align: center;
    border: 2px solid var(--text);
}
.box {
    background: transparent;
    position: relative;
}
.boxes {
    width: 100%;
    padding-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    grid-template-areas: 
    "a b c";
}
.a {
    grid-area: a;
} 
.b {
    grid-area: b;
} 
.c {
    grid-area: c;
}
/* Icons */
.box i {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.circle-icon {
    position: absolute; bottom:45%; left:45%; 
    padding:0px;
    border-radius: 50%;
}
.circle-icon:hover {
     color: black;
}
/* About section */
.about-header {
    padding-top: 100px;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
    font-weight: 600;
}
.about-title {
    position: relative;
    font-size: 3.5rem;
    max-height: 4em;
    font-style: bold;
    color: var(--text);
    grid-row-start: 1;
    grid-column: 2;
    text-align: center;
    border: 2px solid var(--text);
}
.about-container {
    width: 100%;
    padding-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: 270px auto auto;
    grid-template-columns: 25% 25% 50%;
    align-content: center;
    object-fit: cover;
    grid-template-areas: 
    "parab parab imgb"
    "twuo free imgb"
    "twuo wun imgb";
}
.about-image {
    max-width: 100%;
    grid-area: imgb;
    height: 800px;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    background-image: url('img/Black-and-white-portrait-1.png');
}
.about-para {
    margin-bottom: 50%;
    max-height: 2rem;
    grid-area: parab;
}
.about-para-text {
    grid-row: 1;
    color: var(--text);
    font-size: 1.3em;
    line-height: 30px;
    display: table-cell;
    vertical-align:middle;
    text-align: center;
    font-weight: 0;
}
.about-image-one {
    grid-area: wun;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('img/one.jpg');
}
.about-image-two {
    grid-area: twuo;
    object-fit: cover;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('img/two.jpg');
}
.about-image-three {
    grid-area: free;
    object-fit: cover;
    display: block;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('img/three.jpg');
}
/* Book */
.columncreator {
    padding-top: 100px;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
}
.book-title {
    position: relative;
    font-size: 3.5rem;
    max-height: 4em;
    font-weight: 600;
    color: var(--text);
    grid-row-start: 1;
    grid-column: 2;
    text-align: center;
    border: 2px solid var(--text);
}
/* column creation */
.columncontainer {
    width: 100%;
    padding-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-rows: auto 200px;
    grid-template-columns: 100%;
    align-content: center;
    grid-template-areas: 
    "img"
    "para";
}
.book-para {
    font-size: 1.3em;
    margin-bottom: 50%;
    max-height: 2rem;
    grid-area: para;
}
.para-text {
    grid-row: 1;
    color: var(--text);
    text-align: center;
}
.bottom-button {
    width: 100%;
    display: grid;
    gap: 20px;
    align-content: center;
    grid-template-areas: 
    ". btnyay .";
}
.btnc {
    color: var(--text);
    padding: 0.6rem 1.3rem;
    border: 2px solid var(--text);
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
    grid-area: btnyay;
    justify-self: center;
}
.no-margin {
    margin: 0px;
}
.book-image {
    max-width: 100%;
    grid-area: img;
}
.btnc:hover {
    background: var(--text);
    color: var(--background);
}
/* footer */
footer {
    display: grid;
    width: 100vw;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
@media (max-width: 1600px) {
    .about-container {
        grid-template-rows: 400px auto auto;
    }
}
@media (max-width: 1080px) {
    .about-container {
        grid-template-rows: auto 200px;
        grid-template-columns: 100%;
        grid-template-areas: 
        "imgb"
        "parab";
    }
}
@media (max-width: 950px) {
    .boxes {
        grid-template-columns: 100%;
        justify-content: center;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "a"
        "b"
        "c";
    }
    .l {
        font-size: 35px;
    }
    .social-bar {
        justify-items: left;
    }
    .about-container {
        grid-template-rows: auto 200px;
        grid-template-columns: 100%;
        align-content: center;
        grid-template-areas: 
        "imgb"
        "parab";
    }
    .about-image {
        max-width: 100%;
        grid-area: imgb;
    }
    .about-para-text {
        text-align: center;
}
}
@media (max-width: 850px) {
    .out-title {
        font-size: 2.8rem;
    }
    .book-title {
        font-size: 2.8rem;
    }
    .about-title {
        font-size: 2.8rem;
    }
    .about-container {
        grid-template-rows: auto 300px;
    }
}
@media (max-width: 656px) {
    .out-title {
        font-size: 2rem;
    }
    .book-title {
        font-size: 2rem;
    }
    .about-title {
        font-size: 2rem;
    }
    .columncreator {
        padding-top: 30px;
        grid-template-rows: 50px;
    }
    .columncreatorb {
        padding-top: 30px;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 80px;
    }
    .about-header {
        padding-top: 30px;
        grid-template-rows: 50px;
    }
    .whole h1 {
        grid-row-start: 2;
    }
    .about-container {
        grid-template-rows: auto 370px;
    }
}
@media (max-width: 540px) {
    .boxes {
        grid-template-columns: 100%;
        gap: 0px;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "a"
        "b"
        "c";
    }
    .c .d .e .f {
        display: none;
    }
    .l {
        font-size: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .whole h1 {
        font-size: 4rem;
    }
    .out-title {
        font-size: 1.8rem;
    }
    .book-title {
        font-size: 1.8rem;
    }
    .about-title {
        font-size: 1.8rem;
    }
    .about-container {
        grid-template-rows: auto 600px;
    }
}