/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --background: white;
    --text: black;
    --icons: white;
}
html {
    box-sizing: border-box;
    font-family: 'Playfair Display';
    color: var(--dark);
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    line-height: 1.4;
    margin: 0px;
    
}
.padding-area {
    padding: 70px;
    padding-top: 40px !important;
}
img {
    max-width: 100%;
}

.wrapper {
    display: grid;
}
/* sticky */
div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
/* Social bar */
.social-bar {
    display: grid;
    grid-area: socials;
    justify-items: center;
    align-items: center;
    gap: 4px;
    grid-auto-flow: column;
    z-index: 9999;
    background: #2d4249;
    overflow-y: scroll;
}
.social-bar.shrink {
    background: white;
    transition: background 0.5s;
}
.l.shrink {
    color: black;
    transition: color 0.5s;
}
.social-icons {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;   
}
  /* Add a hover effect if you want */
.fa-facebook:hover {
    color: #3b5998;
  
}
.fa-instagram:hover {
    color: #ba36cc;
 
}
.fa-soundcloud:hover {
    color: #dd7a1e;

}
.fa-envelope:hover {
    color: lightblue;
}
.fa-youtube:hover {
    color: red;
}
.fa-spotify:hover {
    color: #1DB954;
}
.fa-apple:hover {
    color: #7D7D7D;
} 
  /* Set a specific color for each brand */
.l {
    color: white;
    transition-duration: 0.25s;
}
/* Showcase */

.sfade {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.showcase {
    height: 100vh;
    width: auto;
    min-height: 400px;
    background: url(img/cover.jpg);
    background-size: cover;
    background-position: center;
    padding: 4rem;
    padding-top: 0;
    margin-bottom: 20px;
    
}

.whole {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 35vh 65vh;
    width: 100%;
    height: 100%;
    justify-items: center;
}
.whole h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
    max-height: 4em;
    color: var(--light);
    text-align: center;
    align-self: end;
}
/* Buttons */
.btn {
    padding-top: 50px;
    display: grid;
    gap: 30px;
    align-items: start;
    grid-auto-flow: column;
}
.btna {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border: 2px solid var(--light);
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
    
}
.btnb {
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    border: 2px solid var(--light);
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
}
.btna:hover {
    background: var(--light);
    color: var(--black);
}
.btnb:hover {
    background: var(--light);
    color: var(--black);
}
.down-arrow {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.down-arrow::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(45eg);
    transform: rotate(45deg);
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
}
@-webkit-keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
@keyframes arrow {
    0%, 100% {
        top: 50px;
    }
    50% {
        top: 80px;
    }
}
/* OUT NOW */
.box {
    background: transparent;
    position: relative;
    justify-items: center;
  
}
.boxes {
    display: grid;
    gap: 20px;
    grid-template-rows: 80px auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}
.out-now {
    position: relative;
    font-size: 3.5rem;
    max-height: 4em;
    font-style: bold;
    color: var(--text);
    grid-row-start: 1;
    grid-column: 2;
    text-align: center;
    border: 2px solid var(--text);   
}
.listen-now {
    text-align: center;
    text-transform: uppercase;
}
.a {
    grid-row: 2;
    grid-column: 1
} 
.b {
    grid-row: 2;
    grid-column: 2;
} 
.c {
    grid-row: 2;
    grid-column: 3;
} 
.d {
    grid-row: 3;
    grid-column: 1;
} 
.e {
    grid-row: 3;
    grid-column: 2;
} 
.f {
    grid-row: 3;
    grid-column: 3;
} 

/* Icons */
.box i {
    color: white;
    text-decoration: none;
    transition-duration: 0.4s;
}
.circle-icon {
    position: absolute; bottom:45%; left:45%; 
    padding:0px;
    border-radius: 50%;
}

.circle-icon:hover {
     color: black;
}


/* Book */

.columncreator {
    padding-top: 60px;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr 395.33px 1fr;
}

.book-title {
    position: relative;
    font-size: 3.5rem;
    max-height: 4em;
    font-style: bold;
    color: var(--text);
    grid-row-start: 1;
    grid-column: 2;
    text-align: center;
    border: 2px solid var(--text);
}
/* column creation */

.columncontainer {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;;
}
.book-para {
    font-size: 1.3em;
    margin-bottom: 50%;
    max-height: 2rem;
    grid-column-start: 3;
    grid-row-start: 1;

}
.para-text {
    margin-bottom: 40px;
    grid-row: 1;
    color: var(--text);
}
.para-textb {
    margin-top: 40px;
    grid-row: 1;
    color: var(--text);
}
.btnc {
    color: var(--text);
    padding: 0.6rem 1.3rem;
    border: 2px solid var(--text);
    background: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 18px;
    font-weight: 700;
    transition-duration: 0.4s;
}
.book-test {
    grid-column-start: 3;
    grid-row-start: 2;
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 0;
    max-height: 2rem;
    text-align: center;
    color: var(--text);
}
.no-margin {
    margin: 0px;
}
.book-image {
    max-width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}

.btnc:hover {
    background: var(--text);
    color: var(--background);
}
 

/* footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    margin: 0px !important;
}
