.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
#showcase {
  width:100%;
  min-width:1000px;
  height: 1000px;
  margin: 0 auto;
  background-image: url(../images/will.jpg);
  background-size: 20%;
  background-repeat: repeat;
}
/*
html {
  background-image: url(../images/will.jpg);
  background-size: 20%;
  background-repeat: repeat;
}
*/
.white-box {
  background-color: white;
  color: black;
  border-radius: 25px;
  
}
  section #services li {
    display: inline-block;
    list-style: none;
  }
  section #services li div {
    width: 120px;
    height: 120px;
    color: #74d4b3;
    font-size: 3.4em;
    text-align: center;
    line-height: 120px;
    transition: all 0.5s ease;
  }
  section #services li a {
    color:rgb(161, 30, 61);
  }
  section #services li div:hover {
    transform: rotate(360deg);
  }

.centre {
  position: absolute;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
}

#previous {
  width:100%;
  min-width:1000px;
  height: 1000px;
  margin: 0 auto;
  background-color: white;
}

#gheading {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;

}